<h4>Formularios <small> Template </small></h4>
<hr>
<form #forma="ngForm"
    autocomplete="off"
    (ngSubmit)="guardar(forma)">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control"
                    type="text"
                    name="nombre"
                    [class.is-invalid]="nombre.invalid && nombre.touched"
                    [ngModel]="usuario.nombre"
                    placeholder="Nombre"
                    required
                    minlength="5"
                    #nombre="ngModel">
                <small *ngIf="nombre.invalid && nombre.touched"
                    class="form-text text-danger">Introduce 5 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control"
                    type="text"
                    name="apellido"
                    placeholder="Apellido"
                    [class.is-invalid]="apellido.invalid && apellido.touched"
                    required
                    minlength="5"
                    [ngModel]="usuario.apellido"
                    #apellido="ngModel">
                <small *ngIf="apellido.invalid && apellido.touched"
                    class="form-text text-danger">Introduce 5 letras</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">

            <input class="form-control"
                type="email"
                name="correo"
                [class.is-invalid]="correo.invalid && correo.touched"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                [ngModel]="usuario.correo"
                placeholder="Correo electrónico"
                #correo="ngModel">
            <small *ngIf="correo.invalid && correo.touched"
                class="form-text text-danger">El correo es obligatorio</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-8">
            <select name="pais"
                class="form-control"
                [class.is-invalid]="pais.invalid && pais.touched"
                [ngModel]="usuario.pais"
                required
                [disabled]="!paises.length"
                #pais="ngModel">
                <option *ngFor="let pais of paises"
                    [value]="pais.codigo"> {{pais.nombre}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Género</label>
        <div class="col-8">
            <div class="form-check form-check-inline">
                <input type="radio"
                    name="genero"
                    value="M"
                    [class.is-invalid]="genero.invalid && genero.touched"
                    class="form-check-input"
                    required
                    [ngModel]="usuario.genero"
                    #genero="ngModel">
                <label class="form-check-label">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio"
                    name="genero"
                    class="form-check-input"
                    value="F"
                    [class.is-invalid]="genero.invalid && genero.touched"
                    required
                    [ngModel]="usuario.genero"
                    #genero="ngModel">
                <label class="form-check-label">Femenino</label>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit"
                class="btn btn-outline-primary btn-block">
                Guardar
            </button>
        </div>
    </div>


</form>