<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off"
    [formGroup]="forma"
    (ngSubmit)="guardar()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">
                <!-- Una opción para poner el estilo de que el nombre no es correcto sería -->
                <!-- [class.is-invalid]="forma.get('nombre').invalid && forma.get('nombre').touched" -->
                <!-- pero lo hago por el ts -->
                <input class="form-control"
                    type="text"
                    placeholder="Nombre"
                    formControlName="nombre"
                    [class.is-invalid]="nombreNoValido">
                <small *ngIf="nombreNoValido"
                    class="text-danger">Tiene que tener 5 letras como mínimo</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col">

                <input class="form-control"
                    type="text"
                    placeholder="Apellido"
                    formControlName="apellido"
                    [class.is-invalid]="apellidoNoValido">
                <small *ngIf="apellidoNoValido"
                    class="text-danger">Tiene que tener 5 letras como mínimo</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">

            <input class="form-control"
                type="email"
                placeholder="Correo electrónico"
                formControlName="correo"
                [class.is-invalid]="forma.get('correo').invalid"
                [class.is-invalid]="correoNoValido">
            <small *ngIf="correoNoValido"
                class="text-danger">Tiene que ser un correo válido</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Usuario</label>
        <div class="col">

            <input class="form-control"
                type="email"
                placeholder="Nombre usuario"
                formControlName="usuario"
                [class.is-invalid]="usuarioNoValido">
            <small *ngIf="usuarioNoValido"
                class="text-danger">Ese nombre de usuario ya está asignado</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="col">

            <input class="form-control"
                type="password"
                placeholder="Contraseña"
                formControlName="pass1"
                [class.is-invalid]="pass1NoValido">
            <small *ngIf="pass1NoValido"
                class="text-danger">Tiene que introducir una contraseña</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Repite contraseña</label>
        <div class="col">

            <input class="form-control"
                type="password"
                placeholder="Repite contraseña"
                formControlName="pass2"
                [class.is-invalid]="pass2NoValido">
            <small *ngIf="pass2NoValido"
                class="text-danger">Las contraseñas no coinciden</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">

            <input class="form-control"
                type="email"
                placeholder="Correo electrónico"
                formControlName="correo"
                [class.is-invalid]="forma.get('correo').invalid"
                [class.is-invalid]="correoNoValido">
            <small *ngIf="correoNoValido"
                class="text-danger">Tiene que ser un correo válido</small>
        </div>
    </div>

    <div class="form-group row"
        formGroupName="direccion">
        <label class="col-2 col-form-label">Dirección</label>
        <div class="form-row col">
            <div class="col">
                <input type="text"
                    class="form-control"
                    placeholder="Distrito"
                    formControlName="distrito"
                    [class.is-invalid]="distritoNoValido">
            </div>
            <div class="col">
                <input type="text"
                    class="form-control"
                    placeholder="Ciudad"
                    formControlName="ciudad"
                    [class.is-invalid]="ciudadNoValida">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Pasatiempo</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <!-- Colocamos el form que queremos justo en el padre de todos los que vayan a ser -->
                <tbody formArrayName="pasatiempos">
                    <tr *ngFor="let control of pasatiempos.controls; let i = index">
                        <td>{{i + 1}}</td>
                        <td>
                            <input type="text"
                                class="form-control"
                                [formControlName]="i">
                        </td>
                        <td>
                            <button class="btn btn-danger"
                                (click)="borrarPasatiempo(i)">
                                Borrar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary mt-3 mb-5 btn-block"
                type="button"
                (click)="agregarPasatiempo()">
                + Agregar
            </button>
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md">
            <button type="submit"
                class="btn btn-outline-primary btn-block">
                Guardar
            </button>
        </div>
    </div>

</form>

<hr>
<pre>
    Estado del formulario (valid): {{forma.valid}}
    <br>
    Status: {{forma.status}}
</pre>

<pre>
    valor: {{forma.value | json}}
</pre>